@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="uuid" name="uuid" value="${item.uuid}" underline="true"/>
                            <#input id="planUuid" name="客户uuid" value="${item.planUuid}" underline="true"/>
                            <#input id="siteUuid" name="网站uuid" value="${item.siteUuid}" underline="true"/>
                            <#input id="daydown" name="每天下载次数限制" value="${item.daydown}" underline="true"/>
                            <#input id="ipLimit" name="每个ip每天下载次数" value="${item.ipLimit}" />
                </div>

                <div class="col-sm-6">
                            <#input id="coin" name="积分总数" value="${item.coin}" underline="true"/>
                            <#input id="bigCoinLine" name="大积分界限" value="${item.bigCoinLine}" underline="true"/>
                            <#input id="status" name="1;正常；2禁用" value="${item.status}" underline="true"/>
                            <#input id="insertTime" name="创建时间" value="${item.insertTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VssPlanSiteInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VssPlanSiteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/vsshop/vssPlanSite/vssPlanSite_info.js"></script>
@}
