@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="uuid" name="uuid" value="${item.uuid}" underline="true"/>
                            <#input id="userUuid" name="客户uuid" value="${item.userUuid}" underline="true"/>
                            <#input id="siteUuid" name="网站uuid" value="${item.siteUuid}" />
                </div>

                <div class="col-sm-6">
                            <#input id="count" name="下载次数" value="${item.count}" underline="true"/>
                            <#input id="insertTime" name="创建时间" value="${item.insertTime}" underline="true"/>
                            <#input id="lastTime" name="最后时间" value="${item.lastTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VssUserSiteLogInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VssUserSiteLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/vsshop/vssUserSiteLog/vssUserSiteLog_info.js"></script>
@}
