@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="uuid" name="uuid" underline="true"/>
                            <#input id="reuse" name="是否复用" underline="true"/>
                            <#input id="code" name="激活码" underline="true"/>
                            <#input id="coin" name="需要积分" underline="true"/>
                            <#input id="siteName" name="网站名称" underline="true"/>
                            <#input id="customerPlanName" name="客户计划" underline="true"/>
                            <#input id="userPlanName" name="网站计划" underline="true"/>
                            <#input id="customerName" name="客户名称" underline="true"/>
                            <#input id="userName" name="网站用户"/>
                </div>

                <div class="col-sm-6">
                            <#input id="source" name="网站" underline="true"/>
                            <#input id="vssuser" name="网站用户" underline="true"/>
                            <#input id="owner" name="拥有者" underline="true"/>
                            <#input id="downUrl" name="下载地址" underline="true"/>
                            <#input id="filePath" name="文件地址" underline="true"/>
                            <#input id="ip" name="ip" underline="true"/>
                            <#input id="insertTime" name="记录时间" underline="true"/>
                            <#input id="email" name="邮件地址" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VssLogInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VssLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/vsshop/vssLog/vssLog_info.js"></script>
@}
