<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.VssSyncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.VssSync">
        <id column="uuid" property="uuid" />
        <result column="down_url" property="downUrl" />
        <result column="origin_file_path" property="originFilePath" />
        <result column="oss_file_path" property="ossFilePath" />
        <result column="insert_time" property="insertTime" />
        <result column="source" property="source" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uuid, down_url, origin_file_path, oss_file_path, insert_time, source
    </sql>

</mapper>
